email = tanmay.gupta@philips.com
always-auth = true
registry=https://artifactory-ehv.ta.philips.com/artifactory/api/npm/dl-common-npm/
//artifactory-ehv.ta.philips.com/artifactory/api/npm/dl-common-npm/:_authToken=cmVmdGtuOjAxOjE4MjAyOTQwODg6ZHRTMEZvU2ZoMzJBY2o4N2dnWXVTcU1KZ0pU
